html {
	background-color: #565D61;}

div.container {
	width: 1200px;
	margin-left: 300px;}

#logo {
	width: 180px;
	height: 200px;
	margin: 5px -40px;
	background-image: url("../images/grim_reaper_MED.png");
	float: left;
	background-repeat: no-repeat;
    text-indent: -9999px;
	clear: left;}

#header {
	margin: 0 750px 0 5px;
	text-shadow: 3px 3px 1px black;
	color: red;
	font-size: 60px;}

#nav-placeholder {
    max-width: 200px;
    height: 450px;
    font-size: 18px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: left;
    text-shadow: 3px 3px 6px #565D61;
    background-color: #2C3539;
    border-radius: 10px;}

#nav-placeholder ul {
    height: auto;
    padding: 8px 0px;
    list-style-type: none;}

#nav-placeholder li {  
	padding: 20px 8px 8px 20px;}

#nav-placeholder a {
	border-radius: 10px;
	color: red;
	background-color: #2C3539;
    text-decoration: none;
    padding: 10px 5px 5px 10px;}

#nav-placeholder a:hover:not(.active) {
	border-radius: 10px;
    color: #F90;
    background-color: #565D61;}

#nav-placeholder .active {
	text-shadow: 3px 3px 6px #2C3539;
	border-radius: 10px;
	color: #A9ACAE;
    background-color: #565D61;}

#squad {
	margin: 0px 0 0 40px;
	color: red;
	text-shadow: 3px 3px 1px black;}

article {
	width: 650px;
	font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 15px;
    background-repeat: no-repeat;
    height: 820px;
    padding: 25px;
	margin-top: -450px;
	margin-left: 250px;
	padding: 1em;
	overflow: hidden;}

article.folder {
    background-image: url("../images/folder-650.png");}

#ads .ads {
	margin-bottom: 8px;
	box-shadow: 5px 5px 18px #565D61;
	border-radius: 10px;}

#ads .phly {
	box-shadow: 5px 5px 18px #565D61;
	margin-left: 25px;
	border-radius: 10px;}

header {
	border-radius: 25px;
	height: 150px;
	background-size: cover;
	background-image: url("../images/tank.png");
	clear: left;
	background-repeat: no-repeat;}

#ads {
	margin-top: -848px;
	margin-left: 950px;
	max-width: 200px;
	height: 450px;
	background-color: #2C3539;
	border-radius: 10px;
	padding: 20px;}

div.page {
	margin: 0 0 0 0;
	padding: 6px 5px 4px 42px;
	color: #444;
	line-height: 20px;
	border: 1px solid #d2d2d2;
	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
	background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
	-webkit-background-size: 100% 20px;
	-moz-background-size: 100% 20px;
	-ms-background-size: 100% 20px;
	-o-background-size: 100% 20px;
	background-size: 100% 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	box-shadow: 0 1px 2px rgba(0,0,0,0.07);
	width: 540px;
	height: 775px;}

div.page h2 {
	text-align: center;}

div.members
{
	margin-left: 0px;
    width: 100%;
}

div.members>div:nth-child(2n-1)
{
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 12px;
    width: 25%;
    float: left;
}

div.members>div:nth-child(2n)
{
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 12px;
    width: 25%;
    float: left;
}